
/* Scroll Animation */
.icon {
  margin: 0 auto;
  border: 2px solid white;
  height: 62px;
  width: 36px;
  border-radius: 18px;
  position: relative;
  background-color: rgba(255,255,255,.05);
  cursor: pointer;
}

.icon:before {
  content: '';
  background: white;
  height: 6px;
  width: 2px;
  position: absolute;
  top: 14px;
  border-radius: 1px;
  left: calc(50% - 1px);
  animation: scroll 1.15s infinite;
}

@keyframes scroll {
  15% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(24px);
  }
}

.carousel-container {
  position: relative;
}

#navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; /* Ensures the navbar is on top of the carousel */
  background-color: rgba(0, 0, 0, 0.237); /* Semi-transparent background */
}

.carousel-item img {
  width: 100%;
  height: 70vh; /* Adjust this value to set the desired height */
  object-fit: cover; /* Ensure the image covers the carousel item without distortion */
}

.carousel-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.403); /* Adjust opacity as needed */
}

.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

.navbar-brand {
  font-size: 35px;
  font-family: 'Teko', 'Lucida Sans Regular';
}

.nav-link {
  font-family: 'Black Han Sans', 'Lucida Sans Regular';
  
}

/* Faded Image Button */
.imageRow img {
  height: 200px;
  width: 350px;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-button {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
}

.image-button img {
  display: block;
  transition: transform 0.3s ease;
}

.image-wrapper img {
  display: block;
}

.image-button:hover img {
  transform: scale(1.1);
}

.image-button:hover .overlay {
  opacity: 1;
}

.overlay {
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity for the tint */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  color: white;
  font-size: 1.5rem; /* Adjust the font size as needed */
  text-align: center;
  font-family: 'Black Han Sans', 'Lucida Sans Regular';
}

.overlay-text-footer {
  color: white;
  font-size: 1.9rem; /* Adjust the font size as needed */
  text-align: center;
  font-family: 'Teko', 'Lucida Sans Regular';
}

/* Faded Image Buttons */

/* Vision Card */

.visionCard {
  width: 100%;
  background-color: #3b3b3b9f;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.visionCard img {
  width: 100%;
  height: 450px;
  background-color: #3b3b3b9f;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.visionCard {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the card takes full height if required by its container */
}

.goalsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure goalsWrapper takes full height of its parent column */
  position: relative; /* To position the overlay */
}

.goalsWrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
}

.goalsOverlay {
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity for the tint */
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0.116);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* Vision Card */

/* Footer */
.footer-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

/* Footer */

  /* Button */
.button {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(40, 40, 40);
  border-radius: 9999px;
  width: 135px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 25px;
}

.button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

/* Button */
