:root {
 
}

.carousel-container {
  position: relative;
}

#navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; /* Ensures the navbar is on top of the carousel */
  background-color: rgba(0, 0, 0, 0.237); /* Semi-transparent background */
}

.carousel-item img {
  width: 100%;
  height: 70vh; /* Adjust this value to set the desired height */
  object-fit: cover; /* Ensure the image covers the carousel item without distortion */
}

.carousel-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.403); /* Adjust opacity as needed */
}

.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

.navbar-brand {
  font-size: 35px;
  font-family: 'Teko', 'Lucida Sans Regular';
}